@import "../assets/variables/variables";

.itemDetail{
    width: 100%;
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemDetail-container{
    width: 80%;
    max-width: 1112px;
    height: fit-content;
    padding: 20px;
    background: #fff;
    font-family: $text-font;
    display: grid;
    grid-template-areas: "imagen detail" "description description";
    grid-template-columns: 50% 50%;
    grid-template-rows: 400px 300px;
}

.image-container{
    padding: 0 10px;
    grid-area: imagen;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        width: 300px;
        height: 300px;
    }
}

.secondary-img{
    width: 60px;
    height: 60px;
    margin-right: 50px;
    border: 1px solid $font-color;
}

.detail-container{
    padding: 0 10px;
    grid-area: detail;
}

.title-container{
    height: 30%;
}

.detail-title{
    margin: 0;
    font-family: $title-font;
    font-size: 1.9rem;
    letter-spacing: .07rem;
}

.pay-container{
    height: 70%;
    display: flex;
    flex-direction: column;
}

.detail-price{
    font-size: 1.8rem;
    font-weight: bold;
    color: $blue-color;
}

.payments-container{
    display: flex;
    align-items: center;
}

.payments{
    width: 190px;
}

.cuotas{
    padding-left: 20px;
    font-size: 1.3rem;
    color: $orange-color;
}

.detail-descriptionTitle {
    font-size: 1.4rem;
}

.detail-description {
    font-size: 1.1rem;
}

.description{
    padding: 20px 10px 0 10px;
    grid-area: description;
}

@media all and (max-width: 840px) {
    .payments-container {
        margin-bottom: 20px;
        align-items: flex-start;
        flex-direction: column;
    }
}