@import '../assets/variables/variables.scss';

.cart-container{
    width: 50px;
    display: flex;
    align-items: center;
    a{
        width: fit-content;
        padding: 3px 2px 0 2px;
        border: 1px solid $border-color;
        border-radius: 3px;
        transition: .3s;
        &:hover{
            background: $font-color;
            border-radius: 25%;
            transition: .3s;
        }
    }
}

.cart-logo{
    width: 45px;
}