@import '../assets/variables/variables.scss';

.items-container{
    width: 100%;
    min-height: 100vh;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-self: center;
}