.login-title {
    margin: 0 0 15px 0;
}

.login-form > form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login-inputs {
    width: 200px;
    height: 30px;
    margin: 5px 0;
    outline: none;
}

.login-btn {
    width: fit-content;
    padding: 5px;
    cursor: pointer;
}