@import '../assets/variables/variables';

.signin-form {
    width: 200px;
    > form {
        display: flex;
        flex-direction: column;
    }
}

.signin-title {
    margin: 0 0 15px 0;
}

.signin-input {
    width: 200px;
    height: 25px;
    margin: 5px 0;
    padding-left: 6px;
    border: 1px solid $shadow-color-dark;
    border-radius: 3px;
    &:focus-visible {
        outline: 2px solid $blue-color;
    }
}

.signin-btn {
    width: 100px;
    height: 30px;
    padding: 5px 8px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #fff;
    background-color: $blue-color;
    transition: .2s ease-in-out;
    &:hover {
        background: #fff;
        border: 1px solid $blue-color;
        color: $blue-color;
        transition: .2s ease-in-out;
    }
}