@import '../assets/variables/variables.scss';

.item-counter{
    width: 200px;
    height: 90px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.moreLess-btns{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.counter{
    font-weight: bold;
}

.less-btn, .more-btn{
    width: 30px;
    height: 30px;
    background: $blue-color;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
    &:hover{
        box-shadow: 0 2px 4px 1px $shadow-color-dark; 
        background: $blue-color-dark;   
        transition: .2s;
    }
}

.add-btn{
    width: 100%;
    height: 60px;
    background: $blue-color;
    align-self: center;
    font-family: $text-font;
    color: #fff;
    border: 1px solid transparent;
    outline: none; 
    border-radius: 0px;
    cursor: pointer;
    transition: .2s;
    &:hover{
        box-shadow: 0 2px 4px 1px $shadow-color-dark;
        background: $blue-color-dark;
        transition: .2s;
    }
}