@import '../assets/variables/variables.scss';

.item-counter{
    width: 200px;
    height: 90px;
    margin: auto;
    padding: 10px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.moreLess-btns{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    span{
        font-weight: bold;
    }
    button{
        width: 25px;
        height: 25px;
        background: $boton-color;
        color: #000;
        border: 1px solid transparent;
        border-radius: 50%;
        cursor: pointer;
        transition: .2s;
        &:hover{
            box-shadow: 0 0 4px 2px $shadow-color;    
            transition: .2s;
        }
    }
}

@import '../assets/variables/add-button'