/* fuentes:
font-family: 'Bebas Neue', cursive;
font-family: 'Josefin Sans', sans-serif; 
*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:wght@100;300;400&display=swap');
$title-font: 'Bebas Neue', cursive;
$text-font: 'Josefin Sans', sans-serif;

// colores
$back-black: #202125;
$border-color: #343434;
$font-color: #c3c3c3;
$boton-color: #efefef;
$shadow-color: #cdcdcd;
$shadow-color-dark: #7c7c7c;
$blue-color: #2196f3;
$blue-color-dark: #213bf3;
$orange-color: #ff6f2b;